body {
	text-align: "center";
	background-repeat: no-repeat;
	background-position: center;
}

p { 
	font-family: "Avenir", sans-serif;
	font-size: 24px;
}


h1 {
	font-family: "Avenir", sans-serif;
	font-size: 40px;
	font-weight: bold;

}