body {
	text-align: "center";
	background-image: url(href="/images/allnaturaldesign.jpg");
	background-color: linen;
	background-size: cover;
	font-family: "Avenir";
}

p { 
	font-family: "Avenir", sans-serif;
	font-size: 24px;
}


h1 {
	
	font-family: "Avenir";
	font-size: 40px;
	font-weight: bold;
}