body {
	font-family: Avenir;
	text-align: center;
	background-color: #FFF2D0;
	}

h1 {
	font-size: 40px;
	}

h2 {
	font-size: 25px;
	font-style: italic;
	}

	ul {
    text-align: center;
    list-style-type: none;
	}